@font-face {
  font-family: "fonteTitulo";
  src: url(UpstairsCVJMgraff.ttf);
}

@font-face {
  font-family: "fonteParagrafo";
  src: url('Coolvetica Rg.otf');
}

.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #14eb8a;
  box-sizing: border-box;
}

img {
  display: flex;
  margin: auto;
}

.logoimg {
  position: absolute;
  transform: scale(0.1);
  margin-top: 63px;
  margin-right: 490px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 100px;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  color: black;
  border-radius: 10px;
  transition: 1s;
}

.navbar a:hover {
  background: white;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Titulo {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: fonteTitulo;
  font-size: 32pt;
}

h3 {
  margin: 0;
  text-align: center;
}

.sectionGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centralizado {
  text-align: center;
  font-family: fonteParagrafo;
  font-size: 13pt;
}

.rodape {
  display: flex;
  justify-content: center;
  background-color: #14eb8a;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

.rodape .action {
  padding: 8.5px;
  margin-right: 100px;
  margin-left: 100px;
}

.rodape .action2{
  padding: 25px;
  margin-right: 100px;
  margin-left: 100px;
}

.topico {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

.topico2 {
  display: inline-block;
  justify-content: center;
  width: 100%;
}

.desenvolvedoras{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desenvolvedoras > span{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.secaoTime{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  gap: 30px;
}

.card{
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.card > p{
  min-height: 155px;
}

.indi {
  width: 350px;
  margin: 1px;
}

.indi2 {
  width: 245px ;
  margin: -35px;
}

.indi3 {
  width: 285px ;
  margin: -45px
}

.cardImg{
  width: 100%;
}

.botaoImgJuntos{
  background-color: transparent;
  /* border: 2px solid black; */
  padding: 0 0px 0 0px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.75) inset;
}

.botaoImgJuntos:hover{
  box-shadow: 0px -20px -5px 0px rgba(0,0,0,0.75);
}

.botaoImgJuntos > img{
  border-radius: 15px;
}

@media (max-width: 600px) {
  .cabecalho,
  .rodape,
  .menu,
  .img {
    flex-direction: column;
    align-items: center;
  }
}